
body{
    background-color: #222831;
}
*{
    box-sizing: border-box;
}

.register{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
    padding-top: 200px;
    width: 100%;
}
.register h1{
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
 
    
}
.registration-form{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

input{
    outline: none;
    border: none;
    padding: 9px;
    width: 250px;
}
select{
    padding: 9px;
    outline: none;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    padding: 7px;
    color: black;
    font-weight: bold;
    border:none;
    outline: none;
    background-color: white;
    cursor: pointer;
}
.headerRegistration{
    display: flex;
    color: white;
    justify-content:flex-end;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color:	#0f4539;
    color: white;
    width: 100%;
}
.fa.fa-sign-in{
    padding-right: 10px;
}

a{
    color: white;
    outline: none;
    text-decoration: none;
}

.login{
    padding-top: 200px;
}
.login h1{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.login form{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    align-items: center;

}

.registration{
    text-align: center;
    background: rgb(20, 87, 20);
    padding: 10px;
    width: 100px;
    margin: 20px auto;
    color: #f3f3f3;
    cursor: pointer;
}


.private a{
    padding-right: 20px;
}

button:disabled{
    opacity: 0.5;
}

.none{
    display: none;
}

.flex{
    display: flex;
}
.menu{
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 54px;
}
.menu button{
    margin-top: 20px;
}

.fa.fa-sort-desc{
    padding-right: 20px;
    position: relative;
    cursor: pointer;
}

.react-confirm-alert-body{
    text-align: center;
    color: black;
    font-size: 20px;
}
.react-confirm-alert-body h1{
    font-size: 35px;
    font-weight: bold;
    padding: 25px 0;
}
.react-confirm-alert-button-group{
    padding: 25px 0;
}
.react-confirm-alert-button-group button{
    margin-right: 10px;
}

.headerPrivate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	#0f4539;
    font-size: 20px;
    padding: 20px;
    color: white;
}
.headerPrivate h1{
    font-weight: bold;
    font-size: 30px;

}
.fa.fa-sign-in{
    color: white;
}
.yes{
    background-color: red;
    color: white;
    outline: none;
    border: none;
}
.no{
    background-color: green;
    color: white;
    outline: none;
    border: none;
}


.form{
    display: flex;
    padding: 56px 8px;

}
.fileUploadForm{
font-size: 16px;
outline: none;
border: none;

}
.img{
    width: 200px;
    height: 200px;
}
.img img{
    width: 100%;
    height: 100%;
}

.albumWrapper{
    display: flex;
    flex-direction: column;
    
}

.album{
    padding:20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 242px);
    grid-gap:60px}
.like{
    padding:10px 0;
    color: white;
    display: none;
    justify-content: center;
}
.like2{
    padding:10px 0;
    color: white;
    display: flex;
    justify-content: space-between;
}
.imgWrapper:hover .like{
    display: flex;
}
.imgWrapper:hover .delete{
    display:block;
}
.fa.fa-thumbs-o-up{
    cursor: pointer;
}

.delete{
    cursor: pointer;
    width: 100%;
    background-color: #0f4539;
    color: white;
    transition: .2s;
    display: none;
}
.delete:hover{
    background-color: red;
}
.imgWrapper{
    height:250px;
    cursor:pointer;
}
.search{
    position: relative;
}

.results{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    cursor: pointer;
}
.opacity{
    opacity: 0.1;
}
#react-confirm-alert{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: #f4f4f4;
    padding: 20px;
}
